# Ignore virtual environment
venv/
env/
.env

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore Django database
*.sqlite3
db.sqlite3

# Ignore static files
staticfiles/
media/
